<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cinema World</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Gill_Sans_400.font.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .link1 span, .link1');</script>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
<div class="tail-top">
  <div class="tail-bottom">
    <div id="main">
      <div id="header">
        <div class="row-1">
          <div class="fleft"><a href="#"><span>Cinema World</span></a></div>
        </div>
        <div class="row-2">
          <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="contact-us.html">Contacts</a></li>
			      <li class="last"><a href="adminLogin\login.php"> Admin Login </a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div id="slogan">
          <div class="image png"></div>
          <div class="inside">
            <center><h2>The Best Movie Ticket Site In<span>BANGLADESH</span></h2></center>
            <p>Book it or miss it at your own risk! This is one of the biggest online movie ticket booking site where you can find any top released movies faster than others.</p>
<!--             <div class="wrapper"><a href="#" class="link1"><span><span>Learn More</span></span></a></div> -->
          </div>
        </div>
        <div class="box">
          <div class="border-right">
            <div class="border-left">
              <div class="inner">
                <h3>Welcome to <b>Cinema</b> <span>World</span></h3>
                <p>Cinema World provides you with the mixed up feelings with actions, horrors, thrillers and what not! Just make an account on our site and enjoy the latest releases.</p>
                <div class="img-box1"><img src="images/1page-img1.jpg" alt="" />For booking tickets at your suitable hall, just sign up and select the theatre along with the time and enjoy! Get set to experience a flawless and quick movie ticket booking platform which lets you choose from a number of multiplex theatres and a list of latest movies. Just go to paytm.com and partake the pleasure of effortless online movie ticket booking in Ahmedabad. Don’t let the long queues and endless wait time ruin your movie-going experience. . </div>
                <p>This is an easy and quick way to book movie tickets online. With a safe payment system, you have the ease of booking tickets from anywhere and anytime. Why wait when you can have the world at your fingertips?For payment, only card is allowed. So book it already and enjoy with your friends and family!.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <h3>Our <span>Theaters</span></h3>
          <ul class="movies">
            <li>
              <h4>Star Cineplex</h4>
              <img src="images/1page-img2.jpg" alt="" />
              <p>Trending : Mission Impossible - Fallout, justice League, Avengers - Infinity War, Ant Man, Predestination .</p>
              <div class="wrapper"><a href="theater-1.php" class="link2"><span><span>Go To</span></span></a></div>
            </li>
            <li>
              <h4>Blockbuster Cinemas</h4>
              <img src="images/1page-img3.jpg" alt="" />
              <p>Trending : Mission Impossible - Fallout, justice League, Avengers - Infinity War, Ant Man, Predestination .</p>
              <div class="wrapper"><a href="theater-2.php" class="link2"><span><span>Go To</span></span></a></div>
            </li>
            <li class="last">
              <h4>Shyamoli Cinema</h4>
              <img src="images/1page-img4.jpg" alt="" />
              <p>Trending : Mission Impossible - Fallout, justice League, Avengers - Infinity War, Ant Man, Predestination .</p>
              <div class="wrapper"><a href="theater-3.php" class="link2"><span><span>Go To</span></span></a></div>
            </li>
            <li class="clear">&nbsp;</li>
          </ul>
        </div>
      </div>
      <div id="footer">
        <div class="left">
          <div class="right">
            <div class="footerlink">
              <p class="lf">Copyright &copy; 2018 <a href="#">Cinema World</a> - All Rights Reserved</p>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->
</body>
</html>